@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:700|Julius+Sans+One|Source+Sans+Pro');

/*----------------------------------- Navbar  */

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f0f0f0;
}

h1 {
    font-family: "Julius Sans One", sans-serif;
    color: #fff;
}

h2, h3, h4 {
    font-family: 'Archivo Narrow', sans-serif;
}

p, a, span {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar {
    float: right;
    position: absolute;
    right: 0;
}

.nav-bar {
    position: absolute;
    top: 55px;
    right: 0px;
}

.navbar-nav {
    padding-right: 33px;
}

.nav-link {
    color: #fff;
}

.hero-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #fff;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.hero-heading h1 {
    margin-bottom: 20px;
}

.drop-nav {
    text-align: center;
    background-color: transparent;
}

.drop-nav button {
    border-radius: 50px;
    border: 2px solid;
    border-color: #fff;
}

.dropdown-toggle::after {
    color: #fff;
}

.drop-nav button,
.dropdown-item {
    color: #fff;
}

.dropdown-menu.show {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    border: none;
}

.btn:hover,
.dropdown-item:hover {
    color: rgb(255, 255, 255, 0.8);
}

.dropdown-item:hover {
    background-color: transparent;
}

/*----------------------------------- Section  */

section {
    margin: 10vh 0;
}

.card {
    box-shadow: 5px 10px #e8e8e8;
    border: none;
}

/*----------------------------------- Section  */

footer {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.socials {
    text-align: right;
    color: #fff;
    /*font-size: 2rem;*/
}

.fab {
    border-radius: 50%;
    background-color: #343a40;
    width: 40px;
    font-size: 24px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
}